<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Add User</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
<link rel="stylesheet" href="../css/shards.min.css">
</head>
<body>
	<div class="container my-5">
		<h2 class="mb-5">Editar Producto</h2>
		<div class="row">
			<div class="col-md-6">
			
				<form action="#" th:object="${product}" th:action="@{/product/edit/{id}(id=${product.productid})}" method="post">
					<div class="row">
						<div class="form-group col-md-6">

							<div class="form-group col-md-6">
								<label for="productid" class="col-form-label">Id</label>
						
								
								<input type="text" th:field="*{productid}"
									class="form-control" id="productid"
									placeholder="productid" disabled> <span
									th:if="${#fields.hasErrors('productid')}"
									th:errors="*{productid}" class="text-danger"></span>
							</div>
							
							<div class="form-group col-md-6">
								<label for="name" class="col-form-label">name</label>
								<input type="text" th:field="*{name}"
									class="form-control" id="name"
									placeholder="name"> <span
									th:if="${#fields.hasErrors('name')}"
									th:errors="*{name}" class="text-danger"></span>
							</div>
							
							<div class="form-group col-md-6">
								<label for="productnumber" class="col-form-label">productnumber</label>
								<input type="text" th:field="*{productnumber}"
									class="form-control" id="productnumber"
									placeholder="name"> <span
									th:if="${#fields.hasErrors('productnumber')}"
									th:errors="*{productnumber}" class="text-danger"></span>
							</div>

							<div class="form-group col-md-6">
								<label for="sellstartdate" class="col-form-label">sellstartdate</label>
								<input type="date" th:field="*{sellstartdate}"
									class="form-control" id="sellstartdate"
									placeholder="01/01/2000"> <span
									th:if="${#fields.hasErrors('sellstartdate')}"
									th:errors="*{sellstartdate}" class="text-danger"></span>
							</div>

							<div class="form-group col-md-6">
								<label for="sellenddate" class="col-form-label">sellenddate</label>
								<input type="date" th:field="*{sellenddate}"
									class="form-control" id="sellenddate" placeholder="01/01/2000">
								<span th:if="${#fields.hasErrors('sellenddate')}"
									th:errors="*{sellenddate}" class="text-danger"></span>
							</div>

							<div class="form-group col-md-6">
								<label for="size" class="col-form-label">size</label> <input
									type="number" th:field="*{size}" class="form-control" id="size"
									placeholder="size"> <span
									th:if="${#fields.hasErrors('size')}" th:errors="*{size}"
									class="text-danger"></span>
							</div>
							<div class="form-group col-md-6">
								<label for="weight" class="col-form-label">weight</label> <input
									type="number" th:field="*{weight}" class="form-control"
									id="weight" placeholder="weight"> <span
									th:if="${#fields.hasErrors('weight')}" th:errors="*{weight}"
									class="text-danger"></span>
							</div>
							
							<div class="form-group col-md-7">
								<label for="productsubcategory" class="col-form-label">Subcategoria</label>
								<select th:field="*{productsubcategory}">
									<option th:each="cat : ${subcategories}"
										th:value="${cat.productsubcategoryid}" class="form-control"
										th:text="${cat.name}"
										th:selected="${product.productsubcategory=cat}"></option>
								</select> <span th:if="${#fields.hasErrors('productsubcategory')}"
									th:errors="*{productsubcategory}" class="text-danger"></span>
							</div>
							
							


						</div>
					</div>

					<div class="row">
						<div class="col-md-5 mt-3">
							<input type="submit" name="action" class="btn btn-primary"
								value="Guardar cambios">
						</div>
						<div class="col-md-3 mt-3">
							<input type="reset" class="btn btn-secondary" value="Limpiar">
						</div>
						<div class="col-md-3 mt-3">
							<input type="submit" name="action" class="btn btn-secondary"
								value="Cancelar">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>