<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Editar Costo Histórico de un Producto</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
<link rel="stylesheet" href="../css/shards.min.css">
</head>
<body>
	<div class="container my-5">
		<h2 class="mb-5">Editar Costo Histórico de un Producto</h2>
		<div class="row">
			<div class="col-md-12">
				
				<form action="#" th:object="${productcosthistory}" th:action="@{/productcosthistory/edit/{id}(id=${productcosthistory.id})}" method="post">
					<div class="row">
						<div class="form-group col-md-12">
							<div class="row">
								<div class="form-group col-md-4">
									<label for="id" class="col-form-label">Id</label>
							
									
									<input type="text" th:field="*{id}"
										class="form-control" id="id"
										placeholder="id" disabled> <span
										th:if="${#fields.hasErrors('id')}"
										th:errors="*{id}" class="text-danger"></span>
								</div>
								
								<div class="form-group col-md-4">
									<label for="enddate" class="col-form-label">Fecha final de venta</label>
									<input type="date" th:field="*{enddate}"
										class="form-control" id="enddate"
										placeholder="01/01/2000"> <span
										th:if="${#fields.hasErrors('enddate')}"
										th:errors="*{enddate}" class="text-danger"></span>
							
								</div>
							
								
	
								<div class="form-group col-md-4">
									<label for="standardcost" class="col-form-label">Costo estándar</label> <input
										type=number min=1 step=.01 th:field="*{standardcost}" class="form-control" id="standardcost"
										placeholder="standardcost"> <span
										th:if="${#fields.hasErrors('standardcost')}" th:errors="*{standardcost}"
										class="text-danger"></span>
								</div>
								
								<div class="form-group col-md-7">
								<label for="product" class="col-form-label">Producto</label>
								<select th:field="*{product}">
									<option th:each="cat : ${products}"
										th:value="${cat.productid}" class="form-control"
										th:text="${cat.name}"
										th:selected="${productcosthistory.product=cat}"></option>
								</select> <span th:if="${#fields.hasErrors('product')}"
									th:errors="*{product}" class="text-danger"></span>
								</div>
							
							


						</div>
					</div>

					<div class="row">
						<div class="col-md-5 mt-3">
							<input type="submit" name="action" class="btn btn-primary"
								value="Guardar cambios">
						</div>
						<div class="col-md-3 mt-3">
							<input type="reset" class="btn btn-secondary" value="Limpiar">
						</div>
						<div class="col-md-3 mt-3">
							<input type="submit" name="action" class="btn btn-secondary"
								value="Cancelar">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>