<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Agregar Inventario de Producto</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
<link rel="stylesheet" href="../css/shards.min.css">
</head>
<body>
	<div class="container my-5">
		<h2 class="mb-5">Nuevo Inventario de Producto</h2>
		<div class="row">
			<div class="col-md-12">
				<form action="#" th:action="@{/productinventory/add/}"
					th:object="${productinventory}" method="post">
					<div class="row">
						<div class="form-group col-md-12">

							<div class="row">
								<div class="form-group col-md-4">
									<label for="quantity" class="col-form-label">Cantidad</label>
									<input type="number" th:field="*{quantity}"
										class="form-control" id="quantity"
										placeholder="quantity"> <span
										th:if="${#fields.hasErrors('quantity')}"
										th:errors="*{quantity}" class="text-danger"></span>
								</div>




							<div class="form-group col-md-7">
									<label for="product" class="col-form-label">Producto</label>
									<select th:field="*{product}">
										<option th:each="cat : ${products}"
											th:value="${cat.productid}" class="form-control"
											th:text="${cat.name}"
											th:selected="${productinventory.product=cat}"></option>
									</select> <span th:if="${#fields.hasErrors('product')}"
										th:errors="*{product}" class="text-danger"></span>
							</div>
							
							<div class="form-group col-md-7">
								<label for="location" class="col-form-label">Ubicación</label>
								<select th:field="*{location}">
									<option th:each="cat : ${locations}"
										th:value="${cat.locationid}" class="form-control"
										th:text="${cat.name}"
										th:selected="${productinventory.location=cat}"></option>
								</select> <span th:if="${#fields.hasErrors('location')}"
									th:errors="*{location}" class="text-danger"></span>
							</div>
							
							
							
							
							</select> <span th:if="${dateError}" class="text-danger">La fecha
								final no puede estar antes de la fecha inicial</span>
								
						</div>





					<div class="row">
						<div class="col-md-5 mt-3">
							<input type="submit" name="action" class="btn btn-primary"
								value="Agregar inventario de producto">
						</div>
						<div class="col-md-3 mt-3">
							<input type="reset" class="btn btn-secondary" value="Limpiar">
						</div>
						<div class="col-md-3 mt-3">
							<input type="submit" name="action" class="btn btn-secondary"
								value="Cancelar">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>