<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Inventarios de Productos</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
<link rel="stylesheet" href="../css/shards.min.css">
</head>
<body>
	<div th:switch="${productinventories}" class="container my-5">
		<div class="row">
			<div class="col-md-10">
				<h2 th:case="null">Aún no hay Inventarios de productos :c</h2>
				<div th:case="*">
					<h2 class="my-5">Inventarios de Productos</h2>
					<table class="table table-striped table-responsive-md">
						<thead>
							<tr>
								<th>ID</th>
								<th>Cantidad</th>
								<th>ID Producto</th>
								<th>Nombre Producto</th>
								<th>ID Ubicación</th>
								<th>Nombre Ubicación</th>
								<th>Edit</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="productinventory : ${productinventories}">
								<td class="text-info" th:text="${productinventory.id}"></td>
								<td class="text-info" th:text="${productinventory.quantity}"></td>
								<td class="text-info" th:text="${productinventory.product.productid}"></td>
								<td class="text-info" th:text="${productinventory.product.name}"></td>
								<td class="text-info" th:text="${productinventory.location.locationid}"></td>
								<td class="text-info" th:text="${productinventory.location.name}"></td>
								<td><a th:href="@{/productinventory/edit/{id}(id=${productinventory.id})}"
									class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>
							</tr>
						</tbody>
					</table>
				</div>
				<p class="my-5">
					<a href="/productinventory/add/" class="btn btn-primary"><i
						class="fas fa-user-plus ml-2"></i></a>
				</p>
			</div>
		</div>
		<a href="/"><i class="fas fa-home ml-2"></i> Volver al menú principal</a>
	</div>
</body>
</html>